.DatePickerLabel {
  width: 20%;
}

.GenerateReportButton {
  margin-top: 15px;
  justify-content: center;
  background-color: lightgrey;
  padding: 10px;
  border: 0;
  width: 150px;
}

.GenerateReportButton:hover {
  background: #1d69e2;
}

.ExitButton {
  margin-top: 15px;
  justify-content: center;
  background-color: lightgrey;
  padding: 10px;
  border: 0;
  width: 150px;
  margin-right: 10px;
}

.ExitButton:hover {
  background: grey;
}

.MoreInfoButton {
  background: none!important;
   color: inherit;
   border: none;
   padding: 0!important;
   font: inherit;
   border-bottom: 1px solid #444;
   cursor: pointer;
}

.ErrorText {
  color: 'red'
}
